.stock-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1150px;
    padding-top: 110px;
}

.stock-page__left-side {
    width: 60%;
    z-index: -1;
}

.stock__info {
    display: flex;
    flex-direction: column;
}

.stock__info > span {
    padding: 10px 10px;
    font-weight: 600;
}


.stock__graph {
    position: relative;
    height: 375px;
    padding-top: 5px;
}

.transaction-form {
    position: fixed;
    top: 140px;
    right: 75px;
    width: 35%;
    padding-top: 60px;
    padding-left: 120px;
    padding-right: 40px;
    z-index: -1;
}


.company__info {
    margin-bottom: 60px;
}
