#search-button {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    left: 20px;
    top: 1px;
}


.search-form input {
    line-height: 18px;
    border-radius: 4px;
}
