.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1024px;
    padding-top: 90px;
}

.holdings-graph {
    width: 676px;
    height: 349px;
}
