.portfolio-container {
    width: 323.77778px;
    padding: 20px 70px;
}

.portfolio-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.holding-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.holdings-container a {
    text-decoration: none;
    color: inherit;
}
