nav {
    height: 64px;
    position: fixed;
    width: 100%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-container a {
    text-decoration: none;
    color: inherit;
}

.dropdown-container {
    position: absolute;
}
