.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 408px;
    background-color: #fff;
    border-radius: 5px;
}

.modal-header {
    padding: 20px 30px 0px 30px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 30px;
}

.modal-subtitle {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 450;
}


.form-content > div {
    margin: 0px 0px 12px 0px;
    display: flex;
    flex-direction: column;
}

.form-content input {
    line-height: 22px;
}

.form-content select {
    height: 28px;
}

.form-content label {
    margin-bottom: 5px;
}

.add-account__button {
    margin-top: 60px;
}

.add-account__button > button {
    height: 48px;
    padding: 0 48px;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--main-color)
}
