.company-info__title {
    border-bottom: 1px solid;
    border-color: var(--main-border);
    padding-bottom: 16px;
    margin-bottom: 24px;
}

.company-info__title > span {
    font-size: 1.8rem;
}


.company-info__body > span {
    line-height: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .2px;
}

.company-info__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 18px;
}

.company-info__stats > div {
    display: flex;
    flex-direction: column;
    margin: 0 6px 12px;
}

.company-info__employees.company-info__employees {
    margin-left: 0px;
}

.company-info__stats span {
    color: black;
    font: inherit;
    line-height: 25px;
    font-size: 1rem;
}

.company-stats__title.company-stats__title {
    font-weight: 600;
}
