.company-info__title {
    border-bottom: 1px solid;
    border-color: var(--main-border);
    padding-bottom: 16px;
    margin-bottom: 24px;
}

.company-info__title > span {
    font-size: 1.8rem;
}


.company-info__body > span {
    line-height: 25px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: .2px;
}
